.card-row{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  overflow-x: wrap;
}

.actor-style{
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px; 
    border-style: solid;
    border-color: rgba(124, 124, 233, 0.573);
    width: 200px;
    margin: 10px;

    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.6);

}

.name-title{
    color: black;
    font-size: 21px;
    font-weight: bold;
    text-align: center; 
}

.movie-count{
    color: black; 
    font-size: 15px;
    text-align: center; 
    font-weight: normal;   
}

nav{
    text-align: center;
}

.actor-link {
  font-size: 10px;
  text-decoration: none;
  background: rgba(137, 169, 237, 0.169);
  padding: 3px 8px; 
  border-radius: 5px;  
}
.actor-link:hover{
  color: black; 
  font-size: 10px;
  text-decoration: none;
  background: white;
  padding: 6px 10px;
}

.actor-link:visited{
  color: rgb(135, 205, 246);
}
