.card-row{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  overflow-x: wrap;
}

.actor-style{
    background-color: #e9ecf2;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px; 
    border-style: solid;
    border-color: rgba(124, 124, 233, 0.573);
    width: 200px;
    margin: 10px;

    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.6);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.actor-style:hover{
    transform: translateY(-5px); 
}

.name-title{
    margin-top: 4px;
    color: black;
    font-size: 21px;
    font-weight: bold;
    text-align: center; 
}

.movie-count{
    color: black; 
    font-size: 15px;
    text-align: center; 
    font-weight: normal;   
}

nav{
    text-align: center;
}

.actor-style .actor-link {
  color: white;
  font-size: 10px;
  text-decoration: none;
  background: rgba(69, 99, 163, 0.639);
  padding: 3px 8px; 
  border-radius: 5px;  
}
.actor-style .actor-link:hover{ 
  font-size: 10px;
  text-decoration: none;
  padding: 5px 9px;
  color: white; 
}

.actor-style .actor-link:active{
   padding: 4px 7px;
}

.actor-link:visited{
  color: white;
}
