.link-details{
font-size: 12px;
  color: white;
  text-decoration: none;
  background: rgba(69, 99, 163, 0.639);
  padding: 3px 8px; 
  border-radius: 5px; 
}

.customer-header{
  font-size: 30px; 
  color: #d1d6e0; 
  font-weight: bold; 
  text-align: center;
  margin-top: 25px
}