.details-link {
  font-size: 12px;
  color: white;
  text-decoration: none;
  background: rgba(69, 99, 163, 0.639);
  padding: 3px 8px; 
  border-radius: 5px; 
}

.name-header{
  font-size: 30px; 
  color: #d1d6e0; 
  font-weight: bold; 
  text-align: center;
  margin-top: 25px
}

.email{
  font-size: 14px; 
  color: #d1d6e0; 
  text-align: center; 
}

.rental-history{
  font-size: 25px; 
  color: #d1d6e0; 
  font-weight: bold; 
  text-align: center; 
}

.actual-rentals{
  color: #d1d6e0; 
  text-align: center; 
}

.delete-button{
  font-size: 12px;
  color: white;
  text-decoration: none;
  background: rgba(69, 99, 163, 0.639); 
}

.button-container{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}