.film-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.film-row {
   border: 2px solid #ccc;
   padding: 2px;
   text-align: center;
   border-radius: 10px;
   background: #4f7ec9;
   cursor: pointer;
   transition: transform 0.2s ease; 
}

.film-row:hover {
    transform: scale(1.05);
}

.films_page {
    text-align: center;
    padding: 40px;
    font-family: "Space Grotesk", sans-serif;
}

.title {
    font-size: 40px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}

.page-template {
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 20px;

}

.page-button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 15px;
}

.page-number {
    color: white;
    justify-content: center;
    text-align: center;
    padding-left: 370px;
}

.popup-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6)
}

.popup-info {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

.rent-options{
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 10px;
}

.rentBtn {
    border-radius: 8px;
    margin-top: 10px;

}

.closeBtn {
    margin-top: 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2 ease;
    background: rgb(249, 33, 33);
    color: white;
}

.search-overlay {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.search-bar {
    width: 50%;
    border-radius: 8px;
}

.searchBtn {
    border-radius: 8px;
}