.card-row{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  overflow-x: wrap; 
}

.card-style{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px; 
    border-style: solid; 
    border-color: rgba(124, 124, 233, 0.573);
    width: 200px;
    margin: 10px; 

    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.6); 
}

.film-title{
    font-size: 21px;
    font-weight: bold;
    text-align: center; 
    color: black;
}

.film-genre{
    color: rgb(0, 0, 0); 
    font-size: 15px;
    text-align: center; 
    font-weight: normal;   
}

nav{
    text-align: center;
}

.card-style .film-link {
  font-size: 10px;
  color: black;
  text-decoration: none;
  background: rgba(137, 169, 237, 0.169);
  padding: 3px 8px; 
  border-radius: 5px; 
}
.card-style .film-link:hover{
  color: rgb(135, 205, 246); 
  font-size: 10px;
  text-decoration: none;
  background: white;
  padding: 6px 10px; 
} 

.film-link:visited{
    color: rgb(135, 205, 246); 
}