.card-row{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  overflow-x: wrap; 
}

.card-style{
    background-color: #e9ecf2;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px; 
    border-style: solid; 
    border-color: rgba(124, 124, 233, 0.573);
    width: 200px;
    margin: 10px; 

    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.6); 
    transition: transform 0.2s ease, box-shadow 0.2s ease;  

    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}

.card-style:hover{
    transform: translateY(-5px); 
}

.film-title{
    margin-top: 4px;
    font-size: 21px;
    font-weight: bold;
    text-align: center; 
    color: black;
}

.film-genre{
    color: rgb(0, 0, 0); 
    font-size: 15px;
    font-weight: normal;  
    text-align: center; 
    margin-top: 6px;
}

.film-genre p{
    margin: 0;
}

nav{
    text-align: center;
}

.card-style .film-link {
  font-size: 10px;
  color: white;
  text-decoration: none;
  background: rgba(69, 99, 163, 0.639);
  padding: 3px 8px; 
  border-radius: 5px; 
}
.card-style .film-link:hover{
  color: white; 
  font-size: 10px;
  text-decoration: none;
  padding: 5px 9px; 
} 

.card-style .film-link:active{
   padding: 4px 7px;
}

.film-link:visited{
    color: white; 
}